{% extends 'base.html' %}

{% block title %}Загрузка обученной модели{% endblock %}

{% block content %}
    <h1>Загрузка обученной модели</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <table class="form-table">
            <tr>
                <td colspan="2"> <!-- File upload spans both columns -->
                    {{ form.file(class="form-control", style="width: 500px;") }}
                </td>
            </tr>
            <tr>
                <td class="label-column">
                    <label for="model_name">Название модели</label>
                </td>
                <td class="input-column">
                    {{ form.model_name(class="form-control", style="width: 500px;") }}
                </td>
            </tr>
            <tr>
                <td class="label-column">
                    <label for="version">Версия Yolo</label>
                </td>
                <td class="input-column">
                    {{ form.version(class="form-control", style="width: 500px;") }}
                </td>
            </tr>
            <tr>
                <td class="label-column">
                    <label for="task_type">Тип детекции</label>
                </td>
                <td class="input-column">
                    {{ form.task_type(class="form-control", style="width: 500px;") }}
                </td>
            </tr>
            <tr>
                <td class="label-column">
                    <label for="description">Описание</label>
                </td>
                <td class="input-column">
                    {{ form.description(class="form-control", style="width: 500px;") }}
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;"> <!-- Button centered across both columns -->
                    <button type="submit" class="btn btn-primary">Загрузить</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}